<h1>New message</h1>

<div class="aux">
  <%= link_to 'Back', chat_path(@chat) %>
</div>

<% form_for @message, :url => chat_messages_path(@chat) do |f| %>
  <%= f.error_messages %>

  <%= render f %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
