body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

div.field, div.actions {
 margin-bottom: 10px;
}

h1 {
  text-shadow: 2px 2px 3px #aaa;
}

a img {
  border: none;
}

a { color: #55a; text-decoration: none; border-bottom: 1px dotted #55a }
a:hover { color: #00a; border-bottom: 1px solid; text-shadow: 0 0 5px #aaf }

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 30px 30px;
  margin-top: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

#auth {
  float: right
}

#flash p {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash .notice {
  background-color: #CFC;
  color: green;
  /*border: solid 1px #6C6; */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#flash .alert {
  background-color: #FCC;
  color: red;
  /*border: solid 1px #C66; */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.excerpt {
  width: 400px;
  overflow: hidden;
  white-space: nowrap;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}


.has_new_messages {
  background: #ddf
}

td, th {
  padding: 2px 5px
}
