<%= link_to 'Back', chats_path %>
<p>
  <b>Participants:</b>
  <%= chat_users(@chat) %>
</p>
<p>
  <b>Subject:</b>
  <%= @chat.subject %>
</p>

<p>
  <b>Messages:</b>
  <%= render @chat.messages %>
</p>

